html,body, .ui-link{
    // font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
     
    /* font-family: 'Lato', sans-serif; */
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{
    color : grey;
}
#mainPageHeader{
    background-color: rgb(11,191,179);
}
#mainPageHeader p{
    color: white;
    text-align: center;
    font-size: 150%;
}
#mainContentForm{
    width: 90%;
    border: solid 2px rgb(11,191,179);
    font-family: 'Lato', sans-serif;
    margin-left: 5%;
    /* height: 50%; */
}
#mainText{
    color: rgb(11,191,179);
    font-weight: bolder;
    font-size: 200%;
     margin-left: 5%;
}
#mainTitle{
    color: rgb(11,191,179);
    font-weight: bold;
     margin-left: 5%;
     font-size: 200%; 
}
#resultLight, #mainLight{
    background-image: url("lightBlue.png") !important;
    background-size: 100% 100%; 
    width: 3%; 
    height: 10%;
}
/*.ui-input-search:after{
right : .3125em;
 left: .1em; 
}*/
.ui-input-text, .ui-input-search{
    margin: 0;
    border-width: 0;
    color: blue;
}
.ui-btn, label.ui-btn{
    border: none;
}
/*#mainContent > p{
    font-size: 150%;
    color: rgb(9,201,186);
}*/

#CLUbutton,#speechToolMain,#mainSpeech {
        font-family: 'Lato', sans-serif;
    background-color: #3399FF;
    text-align: center;
    font-size: 150%;

}

resultPageHeader > p{
    font-size: 150%;
    color: rgb(9,201,186);
    text-align: center;
}

#resultTitle{
    font-size: 150%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
#resultPageHeader{
    background-color: rgb(1,184,222);
    /* width: 50%; */
    /* height: 5%; */
    /* top: 5%; */
}

.ui-input-search:after{
    /*   width:18px;
       height:18px;*/
    left: 95%;
    position: absolute;
    opacity : 100;
    // right : .3125em;
    /*   margin-left: -50px;*/
}
.ui-input-search input{
    padding-left: 1%;
}
#resultSearch{
    font-weight: bolder;
}




body {
/* font-family: 'Lato', sans-serif; */
}

#aboutPageHeader{
    background-color: #3399FF;
}

ul.nav-search li{
    background: gray;
}

#rateButton,#friendButton{
    text-align: center;
    border:  50px;
}

.ui-listview>.ui-li-static{
    padding: 0em;
}

.ui-content {
padding: 0;
};

#resultSpeechTool{
    border: none;
    outline: none;
    background: transparent;
    width: 2.5%;
    height: 1%;
}
/*#listStartOver, #listWiki{
    text-align: center;
}*/

#CLUbuttonMain ,#CLUbutton{
    color: wheat;
    text-decoration: none;
    /*    margin-top: 20%;*/
    /*    margin: 5em;*/
    padding-bottom: 2%;
    padding-top: 2%;
}
#speechToolMain{
    margin-top: 20%;
}

#resultPanelButton, #menuPanelButton,#aboutPanelButton{
    background-image: url("whiteBarsIcon.png") !important;
    background-color: none !important;
    /* border: none !important; */
    /* box-shadow: none !important; */
    background-repeat: no-repeat;
}

#resultTitle{
    color: white;
    //font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    /* height: 20%; */
}


#aboutList{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    font-size: 150%;
    border-bottom:solid #ff0000;
}

#resultImages {
    /*    border-right-color: rgb(0, 0, 0);*/
    width: 100%;
    height: 17em;
    /* border: 5px solid #000; */
    /* position: relative; */
    /* background-color: red; */
}

#rateButton ,#friendButton{
    background-color: #3399FF;
    text-align: center;
    font-size: 150%;
    color: white;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://code.jquery.com/mobile/1.4.0/images/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

